.services{
    background-color:red;
}
.services{
    color:white;

}
.services1{
    background-color:rgb(97, 97, 236)
}
.services1{
    color: white;
}

.services2{
    background-color:rgb(95, 253, 95);
}
.services2{
    color:white
}

 